<footer class="footer">
  <div class="container test-class">
    <div class="content">
      <p>
        &copy; <%= Time.now.year %> Cars for Rent. All rights reserved.
      </p>
      <p>
        <%= link_to "About Us", "#" %>
      </p>
    </div>
  </div>
</footer>
