<footer class="footer">
  <div class="container test-class">
      <p>
         <%= link_to "About Us", "#" %> | <%= Time.now.year %> Cars for Rent. All rights reserved.
      </p>
  </div>
</footer>
