<div class="carousel-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @cars.each_with_index do |car, index| %>
        <%= link_to car_path(car) do %>
          <div class="carousel-item <%= 'active' if index == 0 %> position-relative">
            <img src="<%= car.image_url %>" class="d-block w-100" style="height: 500px; object-fit: cover;">
            <div  class="position-absolute carousel-car-info">
              <h5><% car.brand %> <% car.model %></h5>
              <p><% car.year %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="text-center">
  <%= link_to "All Cars Here!", cars_path, class: "btn btn-primary" %>
</div>
